/*
html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}


body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

.container{
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}


.content__img{
  padding-top: 45px;
  margin-bottom: 40px;
}

.content{
  padding-top: 10px;
  &__item-info{
    max-width: 940px;
    margin-right: 60px;
    max-height: 375px;
  }
  &__items{
    display: flex;
  }
  &__subtitle{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  &__list{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  &__list-text + &__list-text{
    margin-top: 25px;
  }
  &__form{
    width: 460px;
    max-height: 611px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(53, 50, 56, 0.14);
    border-radius: 8px;
    padding: 40px 30px;
  }
  &__items-form{
   display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-gap: 20px;

  }
  &__form-input{
    position: relative;
  }
  &__form-error{
    color: #EB5E55;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 5px 0 15px;

  }

  &__input {
    width: 180px;
    height: 50px;
    border: 2px solid #E3E3E3;
    border-radius: 8px;
    padding: 18px 15px;
    color: #CDCAD0;
    z-index: -1;
    transition: all .5s;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #CDCAD0;
    }

    &:focus {
      border: 2px solid #0086A8;

    }
  }
  &__input--error{
    border: 2px solid #EB5E55;
  }
  &__input:focus + &__label{
    color: #0086A8;
  }
  &__label{
    font-family: 'SF UI Display', sans-serif;
    font-size: 12px;
    color: #828282;
    line-height: 12px;
    position: absolute;
    left: 12px;
    top: -5px;
    z-index: 9;
    padding: 0 5px;
    background-color: #FFFFFF;
    max-width: 200px;
    height: 12px;
    transition: color .5s;
  }
  &__label--error{
    color: #EB5E55;
  }
  &__input-org{
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 1;
    input{
      max-width: 380px !important;
    }
  }
  &__form-dropdown{
    position: relative;
  }
  &__dropdown-btn{
    border: 2px solid #E3E3E3;
    width: 380px;
    padding: 16px 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    position: relative;
    span{
      &::after{
        position: absolute;
        content: '';
        background-image: url("./assets/icon.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        right: 15px;
        top: 23px;
      }
    }
  }
  &__dropdown-choose{
    border: 2px solid #E3E3E3;
    width: 380px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    background-color: #FFFFFF;
    transition: all .7s;
    cursor: pointer;
  }
  &__dropdown-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 15px;
    &:hover{
      background-color: #f2f2f2;
    }
    &:first-child:hover{
      border-radius: 8px 8px 0 0;
    }
    &:last-child:hover{
      border-radius: 0 0 8px 8px;
    }
  }
  &__dropdown-text + &__dropdown-text{
    border-top: 3px solid #E3E3E3;
  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 18px 15px;
    background: #0086A8;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: all .7s;
    position: relative;
    &:disabled{
      background-color: #E3E3E3;
      color: #828282;
      cursor: default;
    }
    &:hover:enabled {
      background-color: #007693 ;
    }
    &:active:enabled{
      background: #00657E;
    }
  }
  &__btn--loading &__btn-text {
    visibility: hidden;
    opacity: 0;
  }
  &__btn--loading::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  &__form-info,
  &__form-show-info{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__form-show-info{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: left;
    align-items: center;
    span{

      padding-left: 8px;
      cursor: pointer;
      &::after{
        content: '';
        background-image: url("./assets/icon.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        left: 0;
        top: 0;
      }
    }
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.form {
  position: relative;
  width: 380px;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
  span{
    &::after{
      position: absolute;
      content: '';
      background-image: url("./assets/icon.svg");
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      cursor: pointer;
      right: 15px;
      top: 23px;
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #E3E3E3;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    color: #353238;
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: #0086A8;
    }


    &:focus {
      border-color: #0086A8;
    }
  }

  &__label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    left: 12px;
    top: 17px;
    padding: 0 5px;
    color: #353238;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #FFFFFF;
  }
  &__form-dropdown{
    position: absolute;
    bottom: 0;
  }
  &__dropdown-btn{
    border: 2px solid #E3E3E3;
    width: 380px;
    padding: 16px 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    position: relative;
    span{
      &::after{
        position: absolute;
        content: '';
        background-image: url("./assets/icon.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        right: 15px;
        top: 23px;
      }
    }
  }
  &__dropdown-choose{
    border: 2px solid #E3E3E3;
    width: 380px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 15;
    background-color: #FFFFFF;
    transition: all .7s;
    cursor: pointer;
  }
  &__dropdown-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 15px;
    &:hover{
      background-color: #f2f2f2;
    }
    &:first-child:hover{
      border-radius: 8px 8px 0 0;
    }
    &:last-child:hover{
      border-radius: 0 0 8px 8px;
    }
  }
  &__dropdown-text + &__dropdown-text{
    border-top: 3px solid #E3E3E3;
  }
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -6px;
  font-size: 12px;
  line-height: 12px;
  left: 12px;
}



